<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chris Ball</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
        <h1>Chris Ball</h1>
        <h2>Software Developer</h2>
        <p>Seattle, Wa | <a href="mailto:info@chrisball.tech">info@chrisball.tech</a> | <a href="tel:+12068189504">206.818.9504</a></p>
    </header>
    <main>

    </main>
    <footer>
      <ul class="social">
        <li><a href="#" class="fa fa-github"></a></li>
        <li><a href="#" class="fa fa-linkedin"></a></li>
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
      </ul>
    </footer>
  </body>
</html>